<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cxd.dao.system.BookMapper">
  <resultMap id="BaseResultMap" type="com.cxd.entity.system.Book">
    <id column="book_id" jdbcType="BIGINT" property="bookId" />
    <result column="book_name" jdbcType="VARCHAR" property="bookName" />
    <result column="number" jdbcType="INTEGER" property="number" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from book
    where book_id = #{bookId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.cxd.entity.system.Book">
    insert into book (book_id, book_name, number
      )
    values (#{bookId,jdbcType=BIGINT}, #{bookName,jdbcType=VARCHAR}, #{number,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.cxd.entity.system.Book">
    update book
    set book_name = #{bookName,jdbcType=VARCHAR},
      number = #{number,jdbcType=INTEGER}
    where book_id = #{bookId,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select book_id, book_name, number
    from book
    where book_id = #{bookId,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select book_id, book_name, number
    from book
  </select>
</mapper>